<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-email-signature-heading"
                jhiTranslate="emailSignatureGeneratorApp.emailSignature.home.createOrEditLabel">Create or edit a Email
                Signature</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                           readonly/>
                </div>
                <div class="custom-file">
                    <input type="file" class="form-control custom-file-input" name="template" id="field_template"
                           formControlName="template" accept="text/plain"
                           (change)="handleFileInput($event.target.files)" required/>
                    <label class="custom-file-label" jhiTranslate="emailSignatureGeneratorApp.emailSignature.template"
                           for="field_template">Template (Choose file...)</label>
                    <div
                        *ngIf="editForm.get('template').invalid && (editForm.get('template').dirty || editForm.get('template').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('template').errors.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                        class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
